#rotatorgroup { 
	position: relative; 
	z-index: 0; 
	width: 640px;
	height: 427px;
}
#rotatorgroup img {
	width: 640px;
	height: 427px;
}

#rotatorgroup .info {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, .5);
	width: 620px;
	padding: 10px;
	font: normal 14px/12px Arial;
}

#rotatorgroup .info h2, #rotatorgroup .info p {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

#rotatorgroup .info h2 {
	color: #B7000A;
}

#rotatorgroup #prev { 
	display: none; 
}

#rotatorgroup:hover #prev { 
	display: block; 
	width: 20px; 
	height: 22px; 
	text-align: center; 
	background-color: #888; 
	position: absolute; 
	top: 200px; 
	left: 0px; 
	z-index: 10;
	cursor: pointer; 
}

#rotatorgroup #next { 
	display: none; 
}

#rotatorgroup:hover #next { 
	display: block; 
	width: 20px; 
	height: 22px; 
	text-align: center; 
	background-color: #888; 
	;
	position: absolute; 
	top: 200px; 
	right: 0; 
	z-index: 1000; 
	cursor: pointer;
}

#rotatorgroup:hover #next a { 
	text-decoration: none; 
	background-color: #000; 
	color: #FFF; 
	padding: 0 20px 5px 8px; 
	border: 1px solid #FFF; 
	font-family: arial black; 
	font-size: 15px; 
	opacity: .7; 
}

#rotatorgroup #next a:hover { 
	background-color: #F00; 
}

#rotatorgroup #nav { 
	display: none; 
}

#rotatorgroup:hover #nav { 
	display: block; 
	position: absolute; 
	bottom: 10px; 
	right: 10px; 
	z-index: 30; 
}

#rotatorgroup:hover #nav a { 
	font-family: arial; 
	text-decoration: none; 
	background-color: #000; 
	color: #FFF; 
	margin: 2px; 
	padding: 3px; 
	border: 1px solid #FFF; 
	opacity: .7; 
}

#rotatorgroup #nav a:hover { 
	background-color: #F00; 
}
